<div id="organizer">
	<p>Organized by &nbsp<a href="http://www.ziggeo.com"><%= image_tag("ziggeo-logo.png", :id => "ziggeo-logo-1") %></a></p>
</div>

<h1 id="title">Video Hack Day<br>
	NYC
</h1>

<div id="interested">
	<p>May 9, 2015 &nbsp <button><%= link_to "Interested?", signup_path %></button></p>
</div>

<%= video_tag(["full.webmhd.webm"], :size => "320x240", :controls => false, :autoplay => true, :autobuffer => true, :loop => true) %>