<div id="sponsor-deck">

	<h1 class="text-center">Sponsor Deck</h1>

	<div class="embed-container text-center">
		<div class="row">
			<%= image_tag("VHD-deck-1.png", :class => "deck") %>
		</div>
		<div class="row">
			<%= image_tag("VHD-deck-2.png", :class => "deck") %>
		</div>
		<div class="row">
			<%= image_tag("VHD-deck-3.png", :class => "deck") %>
		</div>
	</div>
</div>