<div class="embed-container ratio-16-9">
	<%= image_tag("VHD-deck-1.png", :class => "deck") %>
	<%= image_tag("VHD-deck-2.png", :class => "deck") %>
	<%= image_tag("VHD-deck-3.png", :class => "deck") %><br>
</div>