<!DOCTYPE html>
<html>
<head>
  <title>Video Hack Day</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "3a59d6f931efec9f13913502b62737c3";</script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Video Hack Day</a>
			</div>
			<ul class="nav navbar-nav">
				<li id="participants-link">
					<a href="/participants">Participants</a>
				</li>
				<li id="sponsors-link">
					<a href="/sponsors">Sponsors</a>
				</li>
				<li id="judges-link">
					<a href="/judges">Judges</a>
				</li>
				<li>
					<a href="http://www.eventbrite.com/e/video-hack-day-tickets-16088990604?ref=ebtnebregn">Register</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<%= yield %>
	</div>

</body>
</html> 
